In [21]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [22]:
import pandas as pd
import numpy as np
from math import sqrt, pow

In [23]:
df = pd.read_csv('data-01-iris.csv', names = ['sepal_len', 'sepal_width', 'petal_len', 'petal_width', 'class'])
df.head()

   sepal_len  sepal_width  petal_len  petal_width        class
0        5.1          3.5        1.4          0.2  Iris-setosa
1        4.9          3.0        1.4          0.2  Iris-setosa
2        4.7          3.2        1.3          0.2  Iris-setosa
3        4.6          3.1        1.5          0.2  Iris-setosa
4        5.0          3.6        1.4          0.2  Iris-setosa

In [24]:
def euclidean_distance(row_a, row_b):

    distance  = 0.0
    
    for index in range(0, (len(row_a) -1), 1):
        distance += pow((row_b[index] - row_a[index]), 2)

    euclidean_distance = sqrt(distance)

    return euclidean_distance

In [25]:
row_i = df.iloc[0]
row_i

sepal_len              5.1
sepal_width            3.5
petal_len              1.4
petal_width            0.2
class          Iris-setosa
Name: 0, dtype: object

In [26]:
row_ii = df.iloc[1]
row_ii

sepal_len              4.9
sepal_width              3
petal_len              1.4
petal_width            0.2
class          Iris-setosa
Name: 1, dtype: object

In [27]:
euclidean_distance(row_i, row_ii)

0.5385164807134502

In [28]:
dummy_coords = [
                    [2.7810836, 2.550537003, 0],
                    [1.465489372, 2.362125076, 0],
                    [3.396561688, 4.400293529, 0],
                    [3.06407232, 3.005305973, 0],
                    [1.38807019, 1.850220317, 0],
                    [7.627531214, 2.759262235, 1],
                    [5.332441248, 2.088626775, 1],
                    [6.922596716, 1.77106367, 1],
                    [8.675418651, -0.242068655, 1],
                    [7.673756466, 3.508563011, 1]
                ]
dummy_df = pd.DataFrame(dummy_coords, columns = ['X1', 'X2', 'Y'])
dummy_df.head()

         X1        X2  Y
0  2.781084  2.550537  0
1  1.465489  2.362125  0
2  3.396562  4.400294  0
3  3.064072  3.005306  0
4  1.388070  1.850220  0

In [31]:
## Validate: Test euclidean_distance function
zeroth_row = dummy_df.iloc[0]
for ith_row in range(0, dummy_df.shape[0], 1):
    computed_euclidean_distance = euclidean_distance(zeroth_row, dummy_df.iloc[ith_row])
    print("Euclidean distance {a}".format(a = computed_euclidean_distance) )

Euclidean distance 0.0
Euclidean distance 1.3290173915275787
Euclidean distance 1.9494646655653247
Euclidean distance 0.5356280721938492
Euclidean distance 1.5591439385540549
Euclidean distance 4.850940186986411
Euclidean distance 2.592833759950511
Euclidean distance 4.214227042632867
Euclidean distance 6.522409988228337
Euclidean distance 4.985585382449795